<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>KhanzaHMS</comment>
<entry key="HOST">NRlQZNXs1vhZtyw2E5L4cA==</entry>
<entry key="PAS">CErbEhwMP2x7dNbh5l6EPg==</entry>
<entry key="DATABASE">kCYAlhQfyx7HHkITnH1kO7MtuGnbFrVbKAan4NhV22o=</entry>
<entry key="USER">/HH6O0WnK991/f6aRjGFbQ==</entry>
<entry key="PORT">/ot+b5hfzNwo8HyiQIvchg==</entry>
</properties>
