<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>KhanzaHMS</comment>
<entry key="HOST"></entry>
<entry key="PAS"></entry>
<entry key="DATABASE"></entry>
<entry key="USER"></entry>
<entry key="PORT"></entry>
</properties>
